{% extends "base.html" %}
{% include 'sidebar.html' %}

{% block content %}
<br>
<br>
<div class="card-body">
    <h4 style="text-align: center; color: #007BFF; margin-bottom: 20px;">Feature List</h4>
    <div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 1050px; margin: auto;margin-top: 40px;">
        <table class="table">
            <thead style="background-color: #007BFF; color: #fff;">
                <tr>
                    <th scope="col">Feature Name</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for feature in features %}
                    <tr>
                        <td>{{ feature.name }}</td>
                        <td>
                            <a type="button" class="btn btn-warning mr-2" href="{% url 'update_feature' feature.id %}">Edit</a>
                            <a type="button" class="btn btn-danger" href="{% url 'delete_feature' feature.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="text-center">
            <a type="button" class="btn btn-success" href="{% url 'create_feature' %}">Create New Feature</a>
        </div>
    </div>
</div>
{% endblock %}
