{% extends "base.html" %}
{% include 'sidebar.html' %}

{% block content %}
<br>
<br>
<div class="card-body">
    <h4 class="text-center text-primary mb-4">{{ tenant.name }}'s Profile</h4>
    <div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 600px; margin: auto; margin-top: 50px;">
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <th class="text-primary">Document Proofs</th>
                    <td>
                        {% if documents %}
                            <ul class="list-group">
                                {% for document in documents %}
                                    <li class="list-group-item">
                                        {{ document.description }} -
                                        <a href="{{ document.document.url }}" target="_blank">View Document</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            No documents available.
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th class="text-primary">Unit Details</th>
                    <td>
                        {% if unit %}
                            <ul class="list-group">
                                <li class="list-group-item">Property: {{ unit.property.name }}</li>
                                <li class="list-group-item">Size: {{ unit.size }}</li>
                                <li class="list-group-item">Rent Cost: {{ unit.rent_cost }}</li>
                                <li class="list-group-item">Available: {{ unit.available }}</li>
                            </ul>
                        {% else %}
                            No Unit Assigned
                        {% endif %}
                    </td>
                </tr>

                {% if unit.agreement %}
                    <tr>
                        <th class="text-primary">Agreement Dates</th>
                        <td>
                            <ul class="list-group">
                                <li class="list-group-item">Start Date: {{ unit.agreement.start_date }}</li>
                                <li class="list-group-item">End Date: {{ unit.agreement.end_date }}</li>
                                <li class="list-group-item">Monthly Rent Date: {{ unit.agreement.monthly_rent_date }}</li>
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        <div class="text-center mt-4">
            <a href="{% url 'update_tenant' tenant.id %}" class="btn btn-primary">Edit Profile</a>
            <a href="{% url 'agreements_for_tenant' tenant.id %}" class="btn btn-success">View Agreements</a>
        </div>
    </div>
</div>
{% endblock %}
