{% extends "base.html" %}

{% block content %}
<br>
<br>
<div class="card-body">
    <h5 style="text-align: center">Update Feature</h5>
    <div class="shadow p-3 mb-5 bg-white rounded" style="max-width: 400px; margin: auto;margin-top: 50px;">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="text-center" style="margin-top: 20px;">
                <a type="button" class="btn btn-danger" href="{% url 'feature_list' %}">Cancel</a>
                <button type="submit" class="btn btn-success">Update Feature</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
